body {
  background-color: black;
  display: block;
}
input {
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
a {
  cursor: pointer;
  color: white;
}
.sideBox a {
  cursor: pointer;
  opacity: 0;
  padding-top: 500px;
  color: white;
}
.shadow {
  position: absolute;
  z-index: 9999;
  height: 100%;
  top: 100%;
  transition: all 0.75s ease;
  background-color: rgba(255, 255, 255, 0.7);
}
.rel {
  position: relative;
  overflow: hidden;
}
.rel:hover .shadow {
  top: 0;
}
.sideBar {
  height: 100%;
  z-index: 99999;
  display: flex;
  position: fixed;
  width: 0;
}
/* a {
  display: none;
} */
.sideBox {
  width: 0;
  left: 0;
  height: 100%;
  position: fixed;
}

.pic {
  width: 100%;
}
i .fa-times {
  font-size: 50px;
}
.open {
  cursor: pointer;
  left: 0px;
  width: 50px;
  height: 100vh;
  position: fixed;
  z-index: 999999;
}
.mealsContainer {
  cursor: pointer;
}
.fa-city {
  color: #e65a50ab;
}
.fa-bowl-food {
  color: #9ee650ab;
}
.nav-social-item {
  z-index: 99999999;
  position: absolute;
  bottom: 0;
  padding-bottom: 70px;
}
.contact {
  display: none;
}
#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  z-index: 999999999;
}
